<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Contact List', root_url, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#expanded-menu" aria-controls="expanded-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Conteúdo exibido em telas maiores e escondido em telas menores -->
    <div class="collapse navbar-collapse" id="expanded-menu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if !user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'Nova Conta', new_user_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
      
      <ul class="navbar-nav ms-auto">
        <% if !user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Entrar', entrar_path, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Bem-vindo, <%= current_user.name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'Minha Página', contacts_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Editar', '#', class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= form_with url: sair_path, method: :delete, class: 'inline' do %>
                  <%= submit_tag 'Sair', class: 'dropdown-item' %>
                <% end %>
              </li>
              <!-- Método com o link to não está funcionando -->
              <!-- <li><%= link_to 'Sair', sair_path, method: :delete, class: 'dropdown-item' %></li> -->
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

  <!-- jQuery (necessário para os plugins JavaScript do Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Inclua o Popper.js antes do Bootstrap.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<!-- Inclua o Bootstrap.js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
